body {
  /* text-align: center; */
  background-color: #F3FEFF;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  text-align: center;
  color: #027A8B;
}

h1 {
  padding: 60px;
  /* text-align: center;  */
  font-size: 48px;
  font-weight: 600;
}

.skill-search-container {
  /* position: absolute;
  width: 60%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border: 5px solid #FFFF00;
  padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.skill-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar {
  display: inline-block;
  width: 50%;
  text-align: left;
  /* margin-left: 7%; */
  /* padding-right: 10px;  */
  /* flex-basis: 20px; */
  /* display: flex; */
  /* flex-direction: row; */
}

button {
  margin-left: 5px;
  /* margin-top: -5px; */
  /* align-self: center; */
  box-shadow: none !important;
  /* border-color: #027A8B !important;
  color: #027A8B !important; */
}

/* button:hover {
  border-color: #027A8B !important;
  color: #027A8B !important;
  background-color: rgba(0, 123, 139, 0.39) !important;
} */

.chart {
  position: relative;
  text-align: center;
  top: 30px;
  padding: 20px;
}

.navbar {
  border-bottom: 2px solid #85E1E3;
}

/* .nav-link .active {
  font-weight: bold;
}  */

.name {
  margin-top: 7px;
}

.domain {
  fill: none;
  stroke: none;
}

.tick {
  font-size: 18px;
}

.label {
  font-family: IBM Plex Sans;
  fill: #FFFFFF;
  font-size: 12px;
  font-weight: 1000;
}

.skill-search_pic {
  width: 500px;
  height: auto;
  margin-top: 50px;
}