body {
  /* text-align: center; */
  background-color: #f3feff;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  text-align: center;
  color: #027a8b;
}

h1 {
  padding: 10px;
  /* text-align: center;  */
  font-size: 48px;
  font-weight: 600;
}

.header {
  padding: 30px;
}

.sidenote {
  font-size: 12px;
}

.skill-search-container {
  /* position: absolute;
  width: 60%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border: 5px solid #FFFF00;
  padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.skill-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar {
  display: inline-block;
  width: 50%;
  text-align: left;
  /* margin-left: 7%; */
  /* padding-right: 10px;  */
  /* flex-basis: 20px; */
  /* display: flex; */
  /* flex-direction: row; */
}

button {
  margin-left: 5px;
  /* margin-top: -5px; */
  /* align-self: center; */
  box-shadow: none !important;
  /* border-color: #027A8B !important;
  color: #027A8B !important; */
}

/* button:hover {
  border-color: #027A8B !important;
  color: #027A8B !important;
  background-color: rgba(0, 123, 139, 0.39) !important;
} */

.chart {
  position: relative;
  text-align: center;
  /* top: 30px; */
  /* padding: 20px; */
}

.results {
  margin-top: 35px;
}

.navbar {
  border-bottom: 2px solid #85e1e3;
}

/* .nav-link .active {
  font-weight: bold;
}  */

.name {
  margin-top: 7px;
}

.domain {
  fill: none;
  stroke: none;
}

.tick {
  font-size: 18px;
}

.label {
  font-family: IBM Plex Sans;
  /* fill: #FFFFFF; */
  fill: #027a8b;
  font-size: 12px;
  font-weight: 1000;
}

.skill-search_pic {
  width: 500px;
  height: auto;
  margin-top: 50px;
}

.home_page_pic {
  width: 500px;
  height: auto;
  /* margin-top: 50px; */
}

.home-buttons {
  background-color: #00c0c5;
  border-color: #00c0c5 !important;
  /* padding: 10px;
  padding-left: 30px;
  padding-right: 30px; */
  padding: 10px;
  width: 175px;
  margin: 25px;
}

.home-buttons:hover {
  border-color: #027a8b !important;
  background-color: #027a8b !important;
}

.home-buttons:focus {
  border-color: #027a8b !important;
  background-color: #027a8b !important;
}

.title-container {
  padding: 50px;
}

.pic_and_buttons {
  display: flex;
  justify-content: center;
  flex-basis: 5;
  /* width: 175px; */
}

.feature-buttons {
  display: flex;
  flex-direction: column;
}

.next_steps {
  display: flex;
  /* justify-content: center;
  width: 75%; */
  /* flex-basis: 25%; */
  /* flex: 0 0 50px; */
}

.recommendations {
  /* display: flex; */
  /* flex-basis: 50px;
	flex-grow: 0;
	flex-shrink: 0; */
}
/* ==============  Resume Analysis ============== */

.resume-upload {
  float: left;
  /* margin-right: auto;
  margin-left: 12.4%; */
  width: 50%;
}

.job-info {
  float: right;
  /* margin-left: auto;
  margin-right: 12.4%; */
  width: 50%;
}

.job-info-text,
.upload-resume-text,
.resume-small-text {
  color: #083038;
  font-weight: lighter;
  /* display: inline; */
}

.job-info-text,
.upload-resume-text {
  font-size: 24px;
  line-height: 36px;
  display: inline;
}

.resume-small-text {
  font-size: 14px;
  line-height: 21px;
  /* font-weight: normal; */
}

.browse-text {
  color: #083038;
  font-style: normal;
  line-height: 27px;
  font-size: 18px;
  display: block;
}

.file-uploaded-text {
  line-height: 24px;
  text-align: center;
  color: #083038;
  padding-top: 10px;
}

.job-info-searchbar {
  display: inline-flex;
  text-align: left;
  box-shadow: 3px 3px 5px rgba(8, 48, 56, 0.2);
  color: #083038;
  margin-top: 3px;
  /* margin-left: 7%; */
  /* padding-right: 10px;  */
  /* flex-basis: 20px; */
  /* display: flex; */
  /* flex-direction: row; */
}

.job-info-title-searchbar {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.custom-file-upload {
  border: 1px dashed #083038;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  padding-left: 21px;
  padding-right: 21px;
  /* align-items: center; */
}

.upload-image {
  width: 50px;
  height: auto;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 23px;
}

input[type="file"] {
  display: none;
}

textarea {
  overflow: auto;
  resize: none;
}

/* ===== Start Button ======= */

.start-button {
  background-color: #00c0c5;
  border-radius: 10px;
  height: 60px;
  width: 220px;
  line-height: 58px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22%;
  color: white;
  font: 600 28px;
  text-decoration: none;
  border: 1px solid;
  border-color: white;
}

.start-button:hover {
  color: #00c0c5;
  background-color: white;
  border-color: #00c0c5;
}

.headshots {
  border-radius: 50%;
  width: 200px;
  height: auto;
  margin-top: 50px;
  padding: 20px;
}

.team_members {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.member {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

/* ================ Analytics Page ===================== */
.readiness-score-analytics {
  float: left;
  width: 45%;
}

.communication-skills-chart-container {
  float: right;
  width: 55%;
}

.readiness-score-title,
.important-communication-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.back-button {
  position: relative;
  margin-top: 17%;
  margin-right: 80%;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

.back-button-text {
  text-decoration: none;
  color: #083038;
}

.back-arrow-image {
  width: 25px;
  height: auto;
  padding-right: 5px;
}

.back-button-text:hover {
  color: #083038;
}

/* ============== Readiness Score ==================== */
.score-and-list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  border-radius: 5px;
}

ul li {
  margin: 0;
  color: white;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
}

ul li label {
  margin: 0;
}

ul li:hover {
  color: black;
  border-color: yellow;
}

.poor {
  background-color: red;
}

.fair {
  background-color: orange;
}

.good {
  background-color: rgb(122, 122, 32);
}

.very-good {
  background-color: rgb(110, 177, 10);
}

.excellent {
  background-color: blue;
}

.score-display {
  display: block;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 10px 10px 10px 10px;
}
