.App {
  /* text-align: center; */
}

h1 {
  padding: 20px;
  text-align: center; 
}

.skill-search {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  /* border: 5px solid #FFFF00; */
  padding: 10px;
}

.searchbar {
  display: inline-block;
  width: 75%;
  margin-left: 7%;
  padding-right: 10px; 
}

button {
  margin-top: -5px;
}

/* .fade {
  animation: fade-in-keyframes 1s;
}

@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
} */